<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>Usage Examples</h2>
<p> In "app.module.ts" import ODataModule.</p>
<p>
  For all examples in this page we are using the publicly available TripPin service (SERVICE_ROOT): <a href="https://services.odata.org/V4/TripPinServiceRW">{{serviceRoot}}.</a><br/>  Metadata of this service is here: <a href="https://services.odata.org/V4/TripPinServiceRW/$metadata">{{serviceRoot}}/$metadata.</a>
</p>
<p><b><i>
  Attention to make these examples working you need to visit the TripPin service page and accept the certificate which is surprisingly not valid.<br/>
  The lack of validity is due to the certificate host name not matching the actual host name of the service.<br/>
  Anyway the TripPin service has been created by Microsoft so it should be safe accepting the certificate.
</i></b></p>
<p>To run the example queries and get the response, click on the "Execute query" button. Service response could be slow.</p>
<p>Any feedback is highly appreciated and please report issues! Thanks so much!</p>


<div *ngFor="let example of examples">
  <h3>{{example.title}}</h3>
  <h4>Query</h4>
  <span>{{example.query}}</span>
  <h4>Code</h4>
  <pre class="code">{{example.code}}</pre>
  <h4>Response <input type="button" value="Execute query" (click)="execute(example)"></h4>
  <textarea class="response" readonly="true">{{example.response}}</textarea>
  <hr/>
</div>

<router-outlet></router-outlet>